<nav class="navbar is-primary is-spaced" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <div class="title is-4 has-text-white">
                    GOOD DAY
                </div>
            </a>
    
            <a 
                role="button" 
                class="navbar-burger burger"
                [ngClass]="{
                    'is-active': isMenuActive
                }"
                aria-label="menu" 
                aria-expanded="false" 
                data-target="mainNav"
                (click)="onToggleMenu()"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div 
            id="mainNav" 
            class="navbar-menu has-background-primary"
            [ngClass]="{
                'is-active': isMenuActive
            }"
        >
            <div class="navbar-start"></div>
            <div class="navbar-end">
                <a 
                    class="navbar-item button is-primary" 
                    routerLink="/login" 
                    (click)="onToggleMenu()"
                    *ngIf="!userIsAuthenticated"
                >
                    <span class="icon is-small">
                        <i class="fas fa-sign-in-alt"></i>
                    </span>
                    <span>Sign in</span>
                </a>
                <a 
                    class="navbar-item button is-primary"
                    (click)="onLogout()"
                    *ngIf="userIsAuthenticated"
                >
                    <span class="icon is-small">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <span>Sign out</span>
                </a>
            </div>
        </div>
    </div>
</nav>